@import '../../colors.module.css';

.input-field{
    width: 100%;
    margin: 60px 0;
}

#outlined-required-helper-text, #standard-basic-helper-text{
    color: var(--primary-red)
}

.signup-container{
    padding: 30px 50px;
}

.login-link{
    margin-left: 10px;
    color: var(--primary-red)
}

.login-link:hover{
    color: var(--text-color)
}